@using Store.Domain.Concrete
@model IEnumerable<Products>


@{
    ViewBag.Title = "List of products";
}

<h2>List</h2>

@foreach (var p in @Model)
{
    <div>
        <h3>@p.name</h3>
        <p>@p.description</p>
        <h4>@p.price.ToString() rub</h4>
    </div>
}

